<div [@routerTransition]>
  <div class="m-subheader">
      <div class="d-flex align-items-center">
          <div class="mr-auto col-md-6">
              <h3 class="m-subheader__title m-subheader__title--separator">
                  <span>Product categories</span>
              </h3>
              <span class="m-section__sub">
                  Product categories header info
              </span>
          </div>
          <div class="col-md-6 text-right">
              <button *ngIf="isGranted('Pages.Categories.Create')" (click)="createProductCategory()" class="btn btn-primary blue m--margin-top-5 m--margin-bottom-5">
                  <i class="fa fa-plus"></i> Create new product category </button>
              <!-- <button *ngIf="isGranted('Pages.PlateCategories.Sync')" (click)="syncData()" class="btn btn-primary blue m--margin-top-5 m--margin-bottom-5">{{l("Sync Data")}}</button> -->
          </div>
      </div>
  </div>
  <div class="m-content">
      <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__body">

              <form class="horizontal-form" autocomplete="off">
                  <div class="m-form m-form--label-align-right">
                      <div class="row align-items-center m--margin-bottom-10">
                          <div class="col-xl-12">
                              <div class="form-group m-form__group align-items-center">
                                  <div class="input-group">
                                      <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')"
                                          type="text">
                                      <span class="input-group-btn">
                                          <button (click)="getProductCategories()" class="btn btn-primary" type="submit">
                                              <i class="flaticon-search-1"></i>
                                          </button>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
                          <div class="col-md-12">
                              <div class="m-separator m-separator--dashed"></div>
                          </div>


                          <div class="col-md-5">
                              <div class="form-group">
                                  <label for="NameFilter">{{l("Name")}}</label>
                                  <input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
                              </div>
                          </div>

                      </div>
                      <div class="row margin-bottom-10">
                          <div class="col-sm-12">
                              <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown">
                                  <i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                              <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown">
                                  <i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                          </div>
                      </div>
                  </div>
              </form>

              <div class="row align-items-center">
                  <!--<Primeng-Datatable-Start>-->
                  <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                      <p-table #dataTable (onLazyLoad)="getProductCategories($event)" sortField="category.name" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                          [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                          [resizableColumns]="primengTableHelper.resizableColumns">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th style="width: 150px" pSortableColumn="category.id">
                                      <!-- {{l('ID')}} -->
                                      Index
                                      <p-sortIcon field="category.id"></p-sortIcon>
                                  </th>
                                  <th style="width: 150px" pSortableColumn="category.name">
                                      {{l('Name')}}
                                      <p-sortIcon field="category.name"></p-sortIcon>
                                  </th>
                                  <th style="width: 150px" pSortableColumn="category.description">
                                    {{l('Desc')}}
                                    <p-sortIcon field="category.description"></p-sortIcon>
                                </th>
                                  <th style="width: 130px" [hidden]="!isGrantedAny('Pages.categories.Edit', 'Pages.categories.Delete')">{{l('Actions')}}</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                              <tr>
                                  <td style="width:150px">
                                      <span class="ui-column-title"> {{l('ID')}}</span>
                                      <!-- {{record.category.id}} -->
                                      {{rowIndex + 1}}
                                  </td>

                                  <td style="width:150px">
                                      <span class="ui-column-title"> {{l('Name')}}</span>
                                      {{record.category.name}}
                                  </td>
                                  <td style="width:150px">
                                      <span class="ui-column-title"> {{l('Desc')}}</span>
                                      {{record.category.description}}
                                  </td>

                                  <td style="width: 130px" [hidden]="!isGrantedAny('Pages.Categories.Edit', 'Pages.Categories.Delete')">
                                      <div class="btn-group dropdown" dropdown container="body">
                                          <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                              <i class="fa fa-cog"></i>
                                              <span class="caret"></span> {{l("Actions")}}
                                          </button>
                                          <ul class="dropdown-menu" *dropdownMenu>
                                              <!-- <li>
                                                  <a href="javascript:;" (click)="viewPlateCategoryModal.show(record)">{{l('View')}}</a>
                                              </li> -->
                                              <li>
                                                  <a href="javascript:;" *ngIf="permission.isGranted('Pages.Categories.Edit')" (click)="createOrEditCategoryModal.show(record.category.id)">{{l('Edit')}}</a>
                                              </li>
                                              <li>
                                                  <a href="javascript:;" *ngIf="permission.isGranted('Pages.Categories.Delete') && (record.category.products.length == 0)" (click)="deleteCategory(record.category)">{{l('Delete')}}</a>
                                              </li>
                                          </ul>
                                      </div>
                                  </td>

                              </tr>
                          </ng-template>
                      </p-table>
                      <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                          {{l('NoData')}}
                      </div>
                      <div class="primeng-paging-container">
                          <p-paginator [hidden]="false" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator (onPageChange)="getProductCategories($event)"
                              [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                          </p-paginator>
                          <span class="total-records-count" style="margin-top: 15px">
                              {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                          </span>
                      </div>
                  </div>
                  <!--<Primeng-Datatable-End>-->
              </div>
          </div>
      </div>
  </div>

  <createOrEditCategoryModal #createOrEditCategoryModal (modalSave)="getProductCategories($event)"></createOrEditCategoryModal>
  <!-- <viewPlateCategoryModal #viewPlateCategoryModal></viewPlateCategoryModal> -->

</div>