<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="TagMapping" value="D:\RFID_Table\V2\Konbi.MachineBrain\Devices\Konbini.RfidTable.ProductTagMapping\bin\Debug\Konbini.RfidTable.ProductTagMapping.exe" />
    <add key="COTFPath" value="D:\\RFID_Table\\V2\\Konbi.MachineBrain\\Devices\\KonbiBrain.WindowServices.CotfPad\\unicode_debug\\KonbiBrain.WindowServices.CotfPad.exe" />
  </appSettings>
</configuration>
