<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="M2Mqtt" version="4.3.0.0" targetFramework="net461" />
  <package id="MessagePack" version="1.7.3.4" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NsqSharp" version="0.5.4" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
</packages>