<div class="keyboad-preview">
    <input type="text" placeholder="$0.00" class="input" [(ngModel)]="inputDisplay"/>
</div>
<div class="simple-keyboard simple-keyboard hg-theme-default hg-layout-default hg-layout-default">
    <div class="hg-row">
        <div class="hg-button hg-standardBtn" (click)="keyPress('1')">
            <span>1</span>
        </div>
        <div class="hg-button hg-standardBtn" (click)="keyPress('2')">
            <span>2</span>
        </div>
        <div class="hg-button hg-standardBtn" (click)="keyPress('3')">
            <span>3</span>
        </div>
    </div>
    <div class="hg-row">
        <div class="hg-button hg-standardBtn" (click)="keyPress('4')">
            <span>4</span>
        </div>
        <div class="hg-button hg-standardBtn" (click)="keyPress('5')">
            <span>5</span>
        </div>
        <div class="hg-button hg-standardBtn" (click)="keyPress('6')">
            <span>6</span>
        </div>
    </div>
    <div class="hg-row">
        <div class="hg-button hg-standardBtn" (click)="keyPress('7')">
            <span>7</span>
        </div>
        <div class="hg-button hg-standardBtn" (click)="keyPress('8')">
            <span>8</span>
        </div>
        <div class="hg-button hg-standardBtn" (click)="keyPress('9')">
            <span>9</span>
        </div>
    </div>
    <div class="hg-row">
        <div class="hg-button hg-standardBtn" (click)="keyPress('0')">
            <span>0</span>
        </div>
        <div class="hg-button hg-standardBtn" (click)="keyPress('00')">
            <span>00</span>
        </div>
        <div class="hg-button hg-standardBtn" (click)="keyPress('.')">
            <span style="align-items: center"><i class="fa fa-circle" style="font-size: 16px;"></i></span>
        </div>
    </div>
    <div class="hg-row">
        <div class="hg-button hg-standardBtn" (click)="keyPress('Backspace')">
            <span>Del</span>
        </div>
        <div class="hg-button hg-standardBtn" (click)="keyPress('Enter')">
            <span>Enter</span>
        </div>
    </div>
</div>
