<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net45" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net45" />
  <package id="MessagePack" version="1.7.3.7" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net461" />
  <package id="Serilog" version="2.8.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Literate" version="3.0.0" targetFramework="net45" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
</packages>