#tabledishs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* border-collapse: collapse;
    width: 100%; */
  }
  
  #tabledishs td, #tabledishs th {
    /* border: 1px solid #ddd; */
    padding: 8px;
  }
  
  #tabledishs tr:nth-child(even){background-color: #f2f2f2;}
  
  #tabledishs tr:hover {background-color: #ddd;}
  
  #tabledishs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }

  .tableFixHeadRight {
    overflow-y: auto;
    max-height: 500px;
  }
  
  .tableFixHeadRight table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tableFixHeadRight th,
  .tableFixHeadRight td {
    padding: 8px 16px;
  }
  
  .tableFixHeadRight th {
    position: sticky;
    top: 0;
    background: #f4516c;
  }
  
  
  .tableFixHeadLeft {
    overflow-y: auto;
    max-height: 500px;
  }
  
  .tableFixHeadLeft table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tableFixHeadLeft th,
  .tableFixHeadLeft td {
    padding: 8px 16px;
  }
  
  .tableFixHeadLeft th {
    position: sticky;
    top: 0;
    background: #716aca;
  }